body {
    background-color: dodgerblue;
    margin: 0;
}

.item {
    display: flex;
}

.img {
    border: 4px solid green;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 25px;
}

.figure {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 75%;
}

.h2, h1, h3, p {
    text-align: center;
}

h1 {
    font-size: 48px;
    text-decoration: underline;
    color: aqua;
}

.h2 {
    font-size: 36px;
    font-style: oblique;
    color: blueviolet;
}

.container {
    border: 4px solid navy;
    margin: auto;
    padding: 8px;
}

p {
    color: whitesmoke;
    font-size: 24px;
    font-style: italic;
}

.caption {
    font-size: 16px;
    color: brown;
}

h3 {
    font-size: 36px;
    font-style: oblique;
    color: darkcyan;
}

#btn {
    border: 2px solid black;
    border-radius: 25px;
    color: blue;
    background-color: chartreuse;
}

.input {
    border: 2px solid black;
    border-radius: 25px;
    background-color: chartreuse;
}

.wrapper {
    position: relative;
    min-height: 100vh;
  }
  
  [class|="confetti"] {
    position: absolute;
  }
  
.red {
    background-color: #E94A3F;
  }
  
.yellow {
    background-color: #FAA040;
  }
  
.blue {
    background-color: #5FC9F5;
  }

.btn {
    border: 2px solid black;
    border-radius: 25px;
    color: blue;
    background-color: chartreuse;
    margin: 0 0 0 1100px;
}

::placeholder {
    color: blue;
}

